---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="暂定"
	pubDate={new Date('2026-1-5')}
	heroImage={AboutHeroImage}
>
	<p>
		你好！我是 <strong>柳林之</strong>，一名来自 <strong>南京大学</strong> 的计算机科学专业大三学生。
		我对技术充满热情，目前正在深入探索 <strong>LLM的训练和推理</strong>。
	</p>

	<p>
		这是我尝试记录学习的过程
	</p>

	<h3>💻 技术栈</h3>


	<h3>🎓 教育经历</h3>
	<p>
		<strong>南京大学</strong> | 计算机科学与技术 | 2023 - 至今
		
	</p>


	<h3>📬 联系我</h3>
	<p>
		你可以在页面右上角找到我的 GitHub 和社交媒体链接，或者直接发邮件给我：
		<a href="mailto:231220166@smail.nju.edu.cn">231220166@smail.nju.edu.cn</a>
	</p>
</Layout>